/* Table
   ========================================================================== */

.Table {
  border-color: transparent;
  border-spacing: 0;
  margin-bottom: 2em;
  text-align: left;
  width: 100%;
  @include ed-font-family(sans);
  @include fa-font-size(default);
  @include fa-line-height(tight);
}

.Table td,
.Table th {
  padding: 0.5em 0;
}

.Table thead th {
  border-bottom: 1px solid $color--gray-10;
  font-weight: normal;
}

.Table thead + tbody tr:first-child td {
  padding-top: 1em;
}
